body {
    margin: 0px;
}
#container{
    background: #666 url(../img/ej03_tree.jpg) no-repeat -60px 0;
    width: 420px;
    height: 480px;
    position: relative;
}
.snowflake {
    color: #fff;
    font-size: 2em;
    position: absolute;
}
.snowflake.f1 {
    left: 40px;
    animation-name: snow1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes snow1{
    from{
        top:10px;
        opacity:1;
    }
    30%{
        transform:translate(30px,0px) rotate(180deg);
    }
    50%{
        transform:translate(40px,0px);

    }
    80%{
        opacity:0.9;
        transform:translate(0px,40px) rotate(180deg);
    }
    85%{
        opacity:0.75;
    }
    90%{
        opacity:0.4;
    }
    95%{
        opacity:0.2;
    }
    to{
        top:450px;
        opacity:0;
    }
}

.snowflake.f2 {
    font-size: 1.8em;
    left: 120px;
    animation-name: snow2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes snow2{
    from{
        top:10px;
        opacity:1;
    }
    20%{
        transform:translate(60px,0px) ;
    }
    40%{
        transform:translate(30px,0px) rotate(180deg);

    }
    80%{
        opacity:0.9;
        transform:translate(20px,40px) rotate(30deg);
    }
    85%{
        opacity:0.75;
    }
    90%{
        opacity:0.4;
    }
    95%{
        opacity:0.2;
    }
    to{
        top:450px;
        opacity:0;
    }
}

.snowflake.f3 {
    left: 200px;
    animation-name: snow3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes snow3{
    from{
        top:10px;
        opacity:1;
    }
    10%{
        transform:translate(30px,0px) rotate(180deg);
    }
    60%{
        transform:translate(40px,0px) rotate(45deg);

    }
    80%{
        opacity:0.9;
    }
    85%{
        opacity:0.75;
    }
    90%{
        opacity:0.4;
    }
    95%{
        opacity:0.2;
    }
    to{
        top:450px;
        opacity:0;
    }
}
.snowflake.f4 {
    font-size: 1.5em;
    left: 280px;
    animation-name: snow4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes snow4{
    from{
        top:10px;
        opacity:1;
    }
    20%{
        transform:translate(30px,0px) rotate(180deg);
    }
    65%{
        transform:translate(40px,0px);

    }
    80%{
        opacity:0.9;
    }
    85%{
        opacity:0.75;
    }
    90%{
        opacity:0.4;
    }
    95%{
        opacity:0.2;
    }
    to{
        top:450px;
        opacity:0;
    }
}